.Burger {
  width: 100%;
  margin: auto;
  height: 250px;
  overflow: scroll;
  /* Por si creamos una hamburguesa más grande de lo normal, para que no se superponga, que el usuario pueda hacer scroll */
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

@media (min-width: 500px) and (min-height: 400px) {
  .Burger {
    width: 500px;
    height: 450px;
  }
}

@media (max-width: 499px) and (max-height:400px){
    .Burger {
        width: 400px;
        height: 300px;
    }
}

@media (max-width: 499px) and (max-height:320px){
    .Burger {
        width: 300px;
        height: 200px;
    }
}

